
.button_container {
    display: flex;
    justify-content: flex-end;
}

button{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0;

}

button:hover{
    box-shadow: 0 12px 16px 0;
    }

.active{
    color: white;  
    background-color: green;  
}

.inactive{
    color:black;
    background-color: white;
}

.on{
    color: white;
    background-color: red;

}

.off{
    color:black;
    background-color: white;
}

.name_box{
    display: flex;

}

.post_box{
    display: flex;
}