button {
    color: white;
    text-align: right;
}

button:hover{
    box-shadow: 0 12px 16px 0;
    }

.active{
    background-color: green;
    color: black;
}

.inactive{
    background-color: white;
}